</div>
<!-- page content ends here -->

<!-- Sidebar Widgets Column -->
<div class="col-md-3">

<!-- Categories Widget -->
<div class="card my-3">
<h5 class="card-header">Social</h5>
<div class="card-body">
<div class="row">
<div class="col-lg-6">
<i class="fab fa-mastodon"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-telegram"></i>
</div>

<div class="col-lg-6">
<i class="fab fa-facebook"></i>
<i class="fab fa-youtube"></i>
<i class="fab fa-linkedin"></i>
</div>
</div>
</div>
</div>

<!-- Side Widget -->
<div class="card my-3">
<h5 class="card-header">Donate</h5>
<div class="card-body">
<div class="row">
<div class="col-md-6">
<a href="https://commerce.coinbase.com/checkout/1f066ac2-132a-4c72-a623-0b7e50d81706"><i class="fab fa-btc"></i></a>
<a href="https://paypal.me/joem3243"><i class="fab fa-paypal"></i></a>
<a href="https://liberapay.com/joedoe47/donate"><i class="fab fa-gratipay"></i></a>
</div>
<div class="col-md-6">
<a href="https://commerce.coinbase.com/checkout/1f066ac2-132a-4c72-a623-0b7e50d81706"><i class="fab fa-ethereum"></i></a>
<i class="fab fa-patreon"></i>
</div>
</div>
</div>
</div>

<!--end of containers-->
</div>
</div>

<!-- code for comments here -->
