</div>
<!-- page content ends here -->

<!-- Sidebar Widgets Column -->
<div class="col-md-3">

<!-- Categories Widget -->
<div class="card my-3">
<h5 class="card-header">Sites of Interest</h5>
<div class="card-body">
<div class="row">
<div class="col-lg-6">
<ul class="list-unstyled mb-0">
  <li><a href="#">Web Design</a></li>
  <li><a href="#">HTML</a></li>
  <li><a href="#">Freebies</a></li>
</ul>
</div>

<div class="col-lg-6">
<ul class="list-unstyled mb-0">
  <li><a href="#">JavaScript</a></li>
  <li><a href="#">CSS</a></li>
  <li><a href="#">Tutorials</a></li>
</ul>
</div>
</div>
</div>
</div>

<!-- Side Widget -->
<div class="card my-3">
<h5 class="card-header">Please Support</h5>
<div class="card-body">
<div class="row">
<div class="col-md-6">
<i class="fab fa-btc"></i>
<i class="fab fa-paypal"></i>
<i class="fab fa-gratipay"></i>
</div>
<div class="col-md-6">
<i class="fab fa-ethereum"></i>
<i class="fab fa-patreon"></i>
</div>
</div>
</div>
</div>

<!--end of containers-->
</div>
</div>

<!-- code for comments here -->
