<script src="../../assets/main.js"></script>

<div class="footer l-box is-center">
&copy; 2017-2018 {{SITE_NAME}}
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a>
</div>

<!-- <script data-cfasync="false" type="text/javascript" src="../../assets/form-submission-handler.js"></script> -->

</body>
</html>
