<h2>Public Key</h2>
<br>
Sometimes you just want to communicate securely.
<br>
<dl><dt>Key ID:</dt>
<dd><a href="https://keybase.io/joedoe47">Keybase Profile</a></dd>
<dd>B1538725</dd>
<dt>64-bit:</dt>
<dd>D7D9DC93B1538725</dd>
<dt>Fingerprint:</dt>
<dd>AD8DAE3793C0D9FFC8E87C04D7D9DC93B1538725</dd></dl>

<pre class="pre-scrollable">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQINBFT54JsBEADP1MWCi/+9wc1qw1PzjccLeLSRMVl0TfMxCxmxdKMJ4GNX6e5I
bcKR58zR7ur8ePNpLJX2D4V2hKaTaBAKpLT2NYTaqrIC6FHEzsU0p+IzBfYafz37
o+YZ+G0KfYz8ArPc/nv8hd6wFPnLEn34LC8OFJ7GhP22/c1jKw0uAkfem5vN2AfJ
cQCs5AVrGXDURg/xXcegRjrCBn0GeHQuQPwOROio43sWC8jcG3k6EY8lC9/NLnqI
7x02EQedlZE5/Hu+/yilxcuuBsHSSf2/dC6yK+uqVvPu8RMrWfVdlq0S9Mf1JJIG
kZEvJq0qbmLyKwkEllfHlMj9tm7s4lL3ow3bmGdSDcxtyes5KOE688XI6bqGfBE6
gDSfsJnXeB3jJRrkpo4h2mNXDOXe5+RhqAD8Whvg3gTYOl+odEKdu5Im4FcLymTv
F0kVXLS908TcOJ6XRDDvczOlf8QcF/+a5ThEw+sCMw6eKsWnFqQsrrwPkB2sjSa8
zP0GsKlo63tBpGmHh1elkwO+J0UtRPiaku+HQEWuDSBlZKGPSupYsVWd5uMJoORq
IsTSSBJ7n5PmjNATy6Ufbr7V7vXmhQ5Yaq3sXIBtzcefA6Sm00Uh9i7O3+TRmd6/
StU8JI/cOx6Cz54QKEwOq9seIUaJDQNuXTKKSlsL7/Qhm1nQdKg3R4JVMQARAQAB
tCFKb3NlIE1lbmRvemEgPGpvZWRvZTQ3QGdtYWlsLmNvbT6JAj4EEwECACgFAlT5
4JsCGyMFCQlmAYAGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJENfZ3JOxU4cl
neEP/2Y0t6UWaUuk2Epewn7nvF7ssW2u7jvDfB6UnBE+Rx2NbVdaIVp6XKtgqIix
MEUaFDIk9AjDS2ku376203amUpoD04chIwzZUCvDwCcO9Ws9oso75a2eR19Gl2W4
ODgtI57pWlkGTYlBsYjpXdoYFjNF7afb6wwJX3CNukC614FnubfOlRepZ2K2tHbl
C4NSGawCDw25X/LgO5w5LBB84mL+HLxZyrd0zjT808BEH9YDRVhcw5OL6DJbCbGi
4mUIMJ1seh8nwaPVcmhEDAsKAs1tGfsiYkpMaMirWxPFV5/Nx8UPf1QPR6Ba9E1a
HY//+MMloRqTII4F9jVrb1hu8AgiDzTP3+HrF0RjF5e8RfIhJ8846NTbA9SibpOg
dVJGHbvHt1+5WeD+Yi20e1pR2Bry9LYC1FxZEy73UYvf+ncuNSlAuXjw7xix3H9A
fqHD7X5ATM2lQlB6gEPxjB0KOkTvJIyYR3g3EW8b7DeHQHkD6DZadmO9G6apazG+
hzrKiR8R2RHNcTx9ezaS19cNDnJFbcmoe39vvycvXiSo0R2afldC6+5sWaaM7S3y
eYMLdAWo1Wu7KYgZ58aO+3ByM62V2YcUk+rR8YWhFrbfQAfIxGZS9UDpl8NjTlgP
DNhHrKlfjFrL/umNB6ga+vlK44V/+kDElNZmlSjIidyrBdIZuQINBFT54JsBEAC/
fRd7IWkVTD/hcl0XlrCsLzTPqMHe4A4d4/0uQL3xlwwkbFLprvU+3IaKvbPqJ5X0
neEP/2Y0t6UWaUuk2Epewn7nvF7ssW2u7jvDfB6UnBE+Rx2NbVdaIVp6XKtgqIix
MEUaFDIk9AjDS2ku376203amUpoD04chIwzZUCvDwCcO9Ws9oso75a2eR19Gl2W4
ODgtI57pWlkGTYlBsYjpXdoYFjNF7afb6wwJX3CNukC614FnubfOlRepZ2K2tHbl
C4NSGawCDw25X/LgO5w5LBB84mL+HLxZyrd0zjT808BEH9YDRVhcw5OL6DJbCbGi
4mUIMJ1seh8nwaPVcmhEDAsKAs1tGfsiYkpMaMirWxPFV5/Nx8UPf1QPR6Ba9E1a
HY//+MMloRqTII4F9jVrb1hu8AgiDzTP3+HrF0RjF5e8RfIhJ8846NTbA9SibpOg
dVJGHbvHt1+5WeD+Yi20e1pR2Bry9LYC1FxZEy73UYvf+ncuNSlAuXjw7xix3H9A
fqHD7X5ATM2lQlB6gEPxjB0KOkTvJIyYR3g3EW8b7DeHQHkD6DZadmO9G6apazG+
hzrKiR8R2RHNcTx9ezaS19cNDnJFbcmoe39vvycvXiSo0R2afldC6+5sWaaM7S3y
eYMLdAWo1Wu7KYgZ58aO+3ByM62V2YcUk+rR8YWhFrbfQAfIxGZS9UDpl8NjTlgP
DNhHrKlfjFrL/umNB6ga+vlK44V/+kDElNZmlSjIidyrBdIZuQINBFT54JsBEAC/
fRd7IWkVTD/hcl0XlrCsLzTPqMHe4A4d4/0uQL3xlwwkbFLprvU+3IaKvbPqJ5X0
k1huvxnsDXe77Wmxf+xk/ExsHBptLumJ68RXDaSXfcfrrrHHE2mwZ2BMWY0JYIZc
yV+fK5JGvgTNJyuWrzUYiPxj8t5snYnjsnqhLNgfmMNZD/M/PQUW9Ckuftfu7acg
ECBqUInEw91GdnXdeYgdMT2rERZTYQhu+tvCyUXMe1f+UQ9yU7r176z0BbnodzxB
rsOebLwE7gGvIA3KEHNvNfQ+jpuX38DsxadzppgQHOR9n9krjpxW8ABssTSE6d1W
ctqFQUSd3udBh8LzjWsrPbj/MTaABkKJuYT/N6j6HVqSCsPgh68h97osgKj2mR/y
37fHqU71IGgzAAyclgRRDA96k1qfBxtrh32FFUQbpriwzYLWAncm7bQqK0dY+aH0
zDaWj24E63JcKaEKP+qwGUVzu5ofmS3hA8RY8qgjpXu9Joe2RRBSlp3ToF9WZDKh
9c+MWenpmezvz3NnPE+V7lx4malmPsi/qjAzENOBiP5cYWkwGbZI7gopIB/kfh24
Fxc4ObchkUN8b52kQclEB0G3BM2toMe5MMdN1GxW/rL4UMsqQfu19ycgNiXpzltZ
JTMUsuhwDCC0YunlumesQCSglbJfqfrWXS3Vjl32UwARAQABiQIlBBgBAgAPBQJU
+eCbAhsMBQkJZgGAAAoJENfZ3JOxU4clxSQQAMGJmu/u+85R/lNxpZclNwfkZGuk
JBYjHNegyTGcti9RUkYeDROjE2P1CEc3sflcIeXH1wMWd+sUhWFKSQXEi3B2M7qm
K0Q0Iumn52ZDA1ds/IVjHVGEOmJGfP+mAGVHY7byfdt2ImGFhm9zPKRuR14FA75s
0Gvft1KT25hTaSMRc45TNaTclFiPYbvUNyOFYsx61mvY1IWWxuJgZQ9o3LxpssgA
2P2hpJlnFIaHhS1ZawIUxnND+LIXrSkdlS0YdvFPK3bm8EWuBxfh96SJlWkyjTZ1
RtEiAFFCrDu0u5MOJG0Wak8WwFh+e6q2QpGFTWY+hB/Y3f3+Btf3BdKY1NA+zVPc
icehhyEPDXOL+NDekm6FDvbIrORkPslOCNirxlCksVRHkCXixx35Kj/yxPfK2l3g
5R7deT6doS/p1nA4NV8+wpEiRIvGDoiTp7x+lUM0guAnyrLfY3ztzX8szdcS/NP8
A6sImo9TxVv9QPUu+GaJ1AOKF8P9UoV8qcj3jPeNsX19ds4mGU3cnXtNsgpvAPFl
CdiaarfNtvrzMD/1CFDKhr6jpVnduP5Qmulb0z8m8XQY2YE9l2vNpvzk6hTbp/tJ
VuDWqIqU8xFIcrMcg2NnOxSZ3sDq/2A5Ae8cBICvQgEhJ25Zxe7Mu1/IwyfTJg9I
4pPaGuwpkG1NrWVd
=ts6E
-----END PGP PUBLIC KEY BLOCK-----" >
</pre> 
