/* CSS tricks to make markdown look more pretty */

.navbar {
  background-color: #e1e1e1;
}
.navbar .navbar-brand {
  color: #1c1c1c;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #615e5e;
}
.navbar .navbar-text {
  color: #1c1c1c;
}
.navbar .navbar-text a {
  color: #615e5e;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #615e5e; 
}
.navbar .navbar-nav .nav-link {
  color: #1c1c1c;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #615e5e;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #615e5e;
  background-color: #54bb4c;
}
.navbar .navbar-toggle {
  border-color: #54bb4c;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #54bb4c;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #1c1c1c;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #1c1c1c;
}
.navbar .navbar-link {
  color: #1c1c1c;
}
.navbar .navbar-link:hover {
  color: #615e5e;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1c1c1c;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #615e5e;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #615e5e;
    background-color: #54bb4c;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1c1c1c;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #615e5e;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #615e5e;
    background-color: #54bb4c;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1c1c1c;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #615e5e;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #615e5e;
    background-color: #54bb4c;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1c1c1c;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #615e5e;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #615e5e;
    background-color: #54bb4c;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #1c1c1c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #615e5e;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #615e5e;
  background-color: #54bb4c;
}

/* hr should be thinnr than bottom hr */
blockquote > p > hr {
display: block;
height: .5px;
border: 0;
border-top: .5px solid #ccc;
margin: 1em 0;
padding: 1px;
overflow: auto;
clear: both;
}

/*Summary of Article*/
p > em > strong {
display:block;
/*padding: 15px 20px 15px 45px;*/
margin: 0 0 20px;
position: relative;
border-left: 15px solid #111;
border-right: 2px solid #111;
list-style-type: none;
}

/*Left Aligned Image*/
blockquote > p > em > img {
float: left;
margin-right:5px;
margin-bottom: 5px;
list-style-type: none;
}

/*Right Aligned Image*/
blockquote > p > strong > img {
float: right;
margin-left:5px;
margin-bottom: 5px;
list-style-type: none;
}

/*TODO: Table
blockquote > ul > li */

.p {
overflow: auto;
}

/*Social Media Buttons - https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */


.fab {
  padding: 10px;
  font-size: 28px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github {
background: #24292e;
color: white;
}

.fa-paypal {
background: #0070ba;
color: white;
}

.fa-patreon {
background: #f96854;
color: white;
}

.fa-btc {
background: #ff9500;
color: white;
}

.fa-ethereum {
background: #fff;
color: #000;
}

.fa-gitlab {
background: #544388;
color: orange;
}

.fa-git{
background: #ccc;
color: white;
}

.fa-gratipay{
background: #f6c915;
color: white;
}

.fa-stackexchange {
background: #242729;
color: #4679b7;
}

.fa-mastodon {
background: #2b90d9;
color: white;
}

.fa-telegram {
background: #2ca5e0;
color: white;
}
