<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>                                                  
    {% if meta.description %}                                                                                                         
        <meta name="description" content="{{ meta.description|striptags }}" />                                                        
    {% endif %}{% if meta.robots %}                                                                                                   
        <meta name="robots" content="{{ meta.robots }}" />                                                                            
    {% endif %}                                                                                                                       
                                                                                                                                      
    {% if current_page %}                                                                                                             
        <link rel="canonical" href="{{ current_page.url }}" />                                                                        
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

<!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
-->

<link rel="stylesheet" href="{{ theme_url }}/css/pure.css">


</head>
<body {% if config.theme_config.widescreen %} class="widescreen"{% endif %}>

<div class="header">

<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
<a class="pure-menu-heading" href="{{ "index"|link }}">{{ site_title }}</a>

<ul class="pure-menu-list">

<li class="pure-menu-item"><a href="?index" class="pure-menu-link">Home</a></li>
<li class="pure-menu-item"><a href="?gallery" class="pure-menu-link">Gallery</a></li>
<li class="pure-menu-item"><a href="?index#contact" class="pure-menu-link">Contact</a></li>

</ul>

</div>

</div>

<div class="splash-container">

<div class="splash">
<h2 class="splash-head quote"></h2>
<p class="splash-subhead">
Mendoza Consult Corp
</p>

<p>
<a href="#contact" class="button-success pure-button">Get in Touch</a>
</p>
</div>

</div>
<div class="content-wrapper">

{{ content }}

</div>
<br>
<script src="{{ theme_url }}/js/main.js"></script>
<div class="footer l-box is-center content-wrapper">
&copy; 2017-2018 {{ site_title }}
&middot; <a href="?privacy">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a>
</div>
<!-- <script data-cfasync="false" type="text/javascript" src="{{ theme_url }}/assets/form-submission-handler.js"></script> -->

</body>
</html>
