<div class="header">

<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
<a class="pure-menu-heading" href="{{SITE_URL}}"> {{SITE_NAME}} </a>

<ul class="pure-menu-list">

<li class="pure-menu-item"><a href="{{SITE_URL}}" class="pure-menu-link">Home</a></li>
<li class="pure-menu-item"><a href="{{SITE_URL}}/gallery/" class="pure-menu-link">Gallery</a></li>
<li class="pure-menu-item"><a href="{{SITE_URL}}/#contact" class="pure-menu-link">Contact</a></li>

</ul>

</div>

</div>

<div class="splash-container">

<div class="splash">
<h2 class="splash-head quote"></h2>
<p class="splash-subhead">
Mendoza Consult Corp.
</p>

<p>
<a href="#contact" class="button-success pure-button">Get in Touch</a>
</p>
</div>

</div>
